ToolboxAid.com
David Quesenberry
10/16/2024
requirements.txt


[x] play frequency
[ ] ability to play frequency music/song

[x] play wav and mp3 files
[x] play multi sounds concurrently
[x] cache locally
[x] stop play
[x] stop all play

