
button {
    width: 50px;
    height: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
    padding: 0px;
    line-height: 0px;
   
    align-items: center;
    justify-content: center;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

#loadSample{
    width:125px;
}

#hsl-h,
#hsl-s,
#hsl-l {
    font-size: 12px;
    width: 95%;
    height: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#hsl-h {
    width: 40px;
}
#hsl-s {
    width: 60px;
}
table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    width: 60%;
    text-align: center;
}

canvas,
h3,
thead,
th,
tr,
td {
    margin: 0px;
    padding: 0px;
    border: 2px solid #000000;
}

tr.custom-height {
    height: 100%;
}

td {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

textarea {
    height: 30%;
}

