ToolboxAid.com
David Quesenberry
10/16/2024
requirements.txt

- [ ] Todo
- [.] In progress
- [!] Blocker
- [-] Don't do
- [x] Complete
- [X] Complete
-----------------------------------------------
x keyboard usage
x puck class
x paddle class
x classic font
x frequency sounds
x game reset
x winner
x hide mouse on hover
- max speed
- puck stuck at top.